# Contents of /etc/systemd/system/terraria.service
[Unit]
Description=Terraria Server
After=network.target

[Service]
Type=simple
Restart=always
ExecStartPre=/bin/sleep 30
ExecStart=mono --server --gc=sgen -O=all /PATH-TO-TERRARIA-SERVER.EXE/TerrariaServer.exe -maxplayers 16 -port 7777 -world /root/.local/share/Terraria/Worlds/YOURWORLD.wld

[Install]
WantedBy=multi-user.target
